<!DOCTYPE html>
<html>
  <head>
    <title>Gardens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div>
      <header class="navbar navbar-dark bg-dark">
        <a class="navbar-brand navbar-text" href="/"><img src="http://www.budapestjobs.net/wp-content/uploads/company_logos/2018/09/PlanetPlanrIdentification.png" width="50" height="50"> </a> 
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link" href="/plants">Plants</a>
          </li>
          <li class="nav-item">

          <% if session[:member_id] %>
            <a class="nav-link" <%= link_to "My Profile", member_path(session[:member_id]) %> </a>
          <% end %>
          
          </li>
        </ul>
        <form class="form-inline">

        <% if !session[:member_id] %>
        <a href= "/login"><button class="btn btn-outline-success" type="button">Login</button></a>
        <% end %>


        <% if session[:member_id] %>
       <%= link_to "Log out", logout_path, :method => :delete %>
        <% end %>

       



        <div style="padding-left: 10px;">
          <a href= "/signup"><button class="btn btn-outline-success" type="button">Signup</button></a>
        </div>
      </form>
      </header>

      
    </div>
    
    <%= yield %>
   
          <footer>
            <p>This is the footer</p>
          </footer>

  </body>
</html>
