<!DOCTYPE html>
<html>
  <head>
    <title>Gardens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div>
      <header class="navbar navbar-dark bg-dark">
        <ul class="nav">
          <li class="nav-item">
            <a class="navbar-brand navbar-text" href="/"><img src="http://www.budapestjobs.net/wp-content/uploads/company_logos/2018/09/PlanetPlanrIdentification.png" width="50" height="50"> </a> 
          </li>
        
          <li class="links-nav nav-item">
            <a class="nav-link" href="/gardens">Gardens</a>
          </li>

          <li class="links-nav nav-item">
            <a class="nav-link" href="/plants">All Plants</a>
          </li>

           <% if session[:member_id] %>
          <li class="links-nav nav-item">
            <a class="nav-link" href="/plants/new">Add a Plant</a>
          </li>
           <% end %>

          <li class="nav-item">
            <% if session[:member_id] %>
              <li class="links-nav nav-item"><a class="nav-link" <%= link_to "My Profile", member_path(session[:member_id]) %> </a></li>
            <% end %>
          </li>
          
        </ul>
        <form class="form-inline">

        <% if !session[:member_id] %>
        <a href= "/login"><button class="btn btn-outline-success" type="button">Login</button></a>
        <% end %>


        <% if session[:member_id] %>
       <div class="logout-button"> <button class="btn btn-outline-success" type="button"> <%= link_to "Log out", logout_path, :method => :delete %></button></div>
        <% end %>

       


        <% if !session[:member_id] %>
        <div style="padding-left: 10px;">
          <a href= "/signup"><button class="btn btn-outline-success" type="button">Signup</button></a>
        </div>
        <% end %>
        
      </form>
      </header>

      
    </div>
    
    <%= yield %>


  </body>
</html>
